<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jackfrank.springbootinit.mapper.GradeMapper">
  <resultMap id="BaseResultMap" type="com.jackfrank.springbootinit.pojo.Grade">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="studentNo" javaType="java.lang.String" jdbcType="CHAR" />
      <idArg column="courseNo" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="score" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
</mapper>