<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jackfrank.springbootinit.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.jackfrank.springbootinit.pojo.User">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <arg column="userId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="userName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="userPwd" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="useraAge" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
</mapper>